* {
    font-family: "Trebuchet MS", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main#MAIN {
    display: flex;
}

aside#side {
    background-color: #C5CAE9;
    width: 40%;
    height: 600px;
    overflow: auto;
    padding: 10px;
}


.S1 {
    background-color: #9FA8DA;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
}

.S2 {
    background-color: #7986CB;
    width: 100%;
    height: 300px;
    padding: 10px;
}

#FT {
    background-color: #283593;
    color: white;
    padding: 20px;
    text-align: center;
}
